@charset "utf-8";
/* CSS Reset v1.2 from dayingsoft mojj 2014-05-29 for FF input border */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, dfn, em, img, ins, kbd, q, s, strong, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, tbody, tfoot, thead, tr, th, td{ margin: 0px; padding: 0px; border: 0; font-size:12px; font: inherit; vertical-align: baseline;}
abbr, del, sub, sup, tt, var, samp, small, strike, caption,acronym, address, big, cite, code, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,time, mark, audio, video{ margin: 0px; padding: 0px; border: 0; font-size:12px; font: inherit; vertical-align: baseline;}
body { background: #FFF; color:#575f63; line-height: 1.666; font-size: 12px; font-family: "宋体" , Arial, Helvetica, sans-serif;}
input { font-family: "宋体" , Arial, Helvetica, sans-serif;}
textarea { font-family: "宋体" , Arial, Helvetica, sans-serif;}
a { font-style: normal; text-decoration: none; color:#575f63;}
a:hover { font-style: normal; text-decoration: underline;}
a:focus { outline: none; } /* IE不支持,<a href="#" hidefocus="true"></a> */ 
h1,h2,h3,h4,h5,h6,th,td { font-size: 100%; font-weight: normal;}
legend{ display:none;}
input,select{ margin: 0px; font-family: inherit; font-size: 100%; vertical-align:middle;}
input[type=button]:focus,input[type=submit]:focus{outline:none;}
input[type=button]::-moz-focus-inner{border:0;}
button { margin: 0px; font-family: inherit; font-size: 100%;}
textarea { margin: 0px; font-family: inherit; font-size: 100%; resize:none;}
table { margin: 0px; font-family: inherit; font-size: 100%; border-collapse: collapse; border-spacing: 0;}
th,td { text-align: left;}
blockquote,q { quotes: none;}
blockquote:before,blockquote:after,q:before,q:after { content: ""; content: none;}
ul,ol,li { list-style: none;}
input[type='text'] { -webkit-appearance: none;}
/* HTML5 display-role reset for older browsers */
time,mark,output,meter { font-style: normal; text-decoration: none;}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block;}
/*= 清除浮动=*/
.clear{clear: both;}
.clearfix:after { content: "."; display: block; height: 0;  clear: both; visibility: hidden;}
/* Hides from IE-mac \*/
* html .clearfix {height: 1%;}
/* End hide from IE-mac */
*+html .clearfix {min-height: 1%;}
*html{zoom:expression(function(ele){ele.style.zoom = "1";document.execCommand("BackgroundImageCache",false,true)}
(this))}

/*功能文件*/
.inblock{
	display:inline-block;
*display:inline;
*zoom:1;
	}
.fl{
	float:left;
	}
.fr{ float:right;}
.textcenter{
	text-align:center;
	}
.topart li{ float:left;}
.wid{ width:1000px; margin:0 auto;}
.overhiden{ overflow:hidden;}
.textind{ text-indent:-9999px;}
.bgorang{ background:#ff7400;}
/*功能文件*/
.top{
	height:30px;
	line-height:30px;
	background:#f4f5f8;	
	}
.header{ padding:42px 0 28px;}
.logo{ width:253px; height:86px;background: url(../images/winda_02.jpg) no-repeat left top;}
.topart{ padding-top:10px;}
.topart li{ margin-left:8px;}
.tell{ width:62px; padding-left:36px;
 height:26px; line-height:26px;
 background: url(../images/index_06.jpg) no-repeat left center;}
 .weixin{ width:62px; padding-left:36px;
 height:26px; line-height:26px;
 background: url(../images/index_08.jpg) no-repeat left center;}
.nav{
	  background:#ffffff; 
font-size:14px;
font-weight:600;
height:86px;
}
.nav li{ float:left; 
text-align:center;
position:relative;
height:41px;
line-height:41px;
text-align:center;
width:115px;
}
.nav li.app{
	width:115px;
	}
.nav ul{}
.nav li a.fistnav{ 
color:#464646; display:block;
line-height:86px;
}
.nav li.navon a.fistnav{
	 background:#f3f4f6;
	 border-radius:4px 4px 0 0;
	 color:#0e0e0e;
	}
.nav li a:hover{
	background:#f3f4f6;
	 border-radius:4px 4px 0 0;
	 color:#0e0e0e;
	}
.fistnav{}
.nav dl {
    position: absolute;
    top:86px;
    left:0;
    width: 110px;
    display: none;
    z-index: 9999;
    background: #eceef0;
    padding: 10px 0;
	width:115px;
}
/*banner*/
.banner{ height:415px; overflow:hidden; position: relative; border-top:1px solid #dbdbdb;}
.banner ul{ 
    height: 454px;
	position:absolute;
	}
.banner ul li{
		float:left;

	}
.banner ul li a, .banner ul li image{ display: block}
.sroll{ padding:30px 50px;}
.srollcont{ overflow:hidden; width:1088px; height:73px; position:relative;}
.srollcont li{ float:left; width:221px; height:73px;}
.srollcont li a{ display:block; padding-right:17px;}
.srollcont li a img{ display:block; border:1px solid #E3E3E3;}
.srollcont ul{ position:absolute;}
.foucL,.srollL{ z-index:88; cursor:pointer; position:absolute; left:0; top:50%; height:43px; width:43px; margin-top:-22.5px;background: url(../images/tip_11.png) no-repeat center center;}
.foucR,.srollR{z-index:88;cursor:pointer; position:absolute; right:0; top:50%; height:43px; width:43px; margin-top:-22.5px;background: url(../images/tip_13.png) no-repeat center center;}
.foucL{left:60px !important;}
.foucR{right:60px !important;}
.fouc{ display:none;}

