@charset "utf-8";
/* CSS Reset v1.2 from dayingsoft mojj 2014-05-29 for FF input border */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, dfn, em, img, ins, kbd, q, s, strong, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, tbody, tfoot, thead, tr, th, td{ margin: 0px; padding: 0px; border: 0; font-size:12px; font: inherit; vertical-align: baseline;}
abbr, del, sub, sup, tt, var, samp, small, strike, caption,acronym, address, big, cite, code, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,time, mark, audio, video{ margin: 0px; padding: 0px; border: 0; font-size:12px; font: inherit; vertical-align: baseline;}
body { background: #FFF; color:#575f63; line-height: 1.666; font-size: 12px; font-family: "宋体" , Arial, Helvetica, sans-serif;}
input { font-family: "宋体" , Arial, Helvetica, sans-serif;}
textarea { font-family: "宋体" , Arial, Helvetica, sans-serif;}
a { font-style: normal; text-decoration: none; color:#575f63;}
a:hover { font-style: normal; text-decoration: underline;}
a:focus { outline: none; } /* IE不支持,<a href="#" hidefocus="true"></a> */ 
h1,h2,h3,h4,h5,h6,th,td { font-size: 100%; font-weight: normal;}
legend{ display:none;}
input,select{ margin: 0px; font-family: inherit; font-size: 100%; vertical-align:middle;}
input[type=button]:focus,input[type=submit]:focus{outline:none;}
input[type=button]::-moz-focus-inner{border:0;}
button { margin: 0px; font-family: inherit; font-size: 100%;}
textarea { margin: 0px; font-family: inherit; font-size: 100%; resize:none;}
table { margin: 0px; font-family: inherit; font-size: 100%; border-collapse: collapse; border-spacing: 0;}
th,td { text-align: left;}
blockquote,q { quotes: none;}
blockquote:before,blockquote:after,q:before,q:after { content: ""; content: none;}
ul,ol,li { list-style: none;}
input[type='text'] { -webkit-appearance: none;}
/* HTML5 display-role reset for older browsers */
time,mark,output,meter { font-style: normal; text-decoration: none;}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block;}
/*= 清除浮动=*/
.clear{clear: both;}
.clearfix:after { content: "."; display: block; height: 0;  clear: both; visibility: hidden;}
/* Hides from IE-mac \*/
* html .clearfix {height: 1%;}
/* End hide from IE-mac */
*+html .clearfix {min-height: 1%;}
*html{zoom:expression(function(ele){ele.style.zoom = "1";document.execCommand("BackgroundImageCache",false,true)}
(this))}

/*功能文件*/
.inblock{
	display:inline-block;
*display:inline;
*zoom:1;
	}
.fl{
	float:left;
	}
.fr{ float:right;}
.textcenter{
	text-align:center;
	}
.topart li{ float:left;}
.wid{ width:1000px; margin:0 auto;}
.overhiden{ overflow:hidden;}
.textind{ text-indent:-9999px;}
.bgorang{ background:#ff7400;}
/*功能文件*/
.top{
	height:30px;
	line-height:30px;
	background:#f4f5f8;	
	}
.header{ padding:42px 0 28px;}
.logo{ width:253px; height:86px;background: url(../images/winda_02.jpg) no-repeat left top;}
.topart{ padding-top:10px;}
.topart li{ margin-left:8px;}
.tell{ width:62px; padding-left:36px;
 height:26px; line-height:26px;
 background: url(../images/index_06.jpg) no-repeat left center;}
 .weixin{ width:62px; padding-left:36px;
 height:26px; line-height:26px;
 background: url(../images/index_08.jpg) no-repeat left center;}
.nav{
	  background:#ffffff; 
font-size:14px;
font-weight:600;
height:86px;
}
.nav li{ float:left; 
text-align:center;
position:relative;
height:41px;
line-height:41px;
text-align:center;
width:115px;
}
.nav li.app{
	width:115px;
	}
.nav ul{}
.nav li a.fistnav{ 
color:#464646; display:block;
line-height:86px;
}
.nav li.navon a.fistnav{
	 background:#f3f4f6;
	 border-radius:4px 4px 0 0;
	 color:#0e0e0e;
	}
.nav li a:hover{
	background:#f3f4f6;
	 border-radius:4px 4px 0 0;
	 color:#0e0e0e;
	}
.fistnav{}
.nav dl {
    position: absolute;
    top:86px;
    left:0;
    width: 110px;
    display: none;
    z-index: 9999;
    background: #eceef0;
    padding: 10px 0;
	width:115px;
}
/*banner*/
.banner{ height:415px; overflow:hidden; position: relative; border-top:1px solid #dbdbdb;}
.banner ul{ 
    height: 454px;
	position:absolute;
	}
.banner ul li{
		float:left;

	}
.banner ul li a, .banner ul li image{ display: block}
.sroll{ padding:30px 50px;}
.srollcont{ overflow:hidden; width:1088px; height:73px; position:relative;}
.srollcont li{ float:left; width:221px; height:73px;}
.srollcont li a{ display:block; padding-right:17px;}
.srollcont li a img{ display:block; border:1px solid #E3E3E3;}
.srollcont ul{ position:absolute;}
.foucL,.srollL{ z-index:88; cursor:pointer; position:absolute; left:0; top:50%; height:43px; width:43px; margin-top:-22.5px;background: url(../images/tip_11.png) no-repeat center center;}
.foucR,.srollR{z-index:88;cursor:pointer; position:absolute; right:0; top:50%; height:43px; width:43px; margin-top:-22.5px;background: url(../images/tip_13.png) no-repeat center center;}
.foucL{left:60px !important;}
.foucR{right:60px !important;}
.fouc{ display:none;}

.usel_title a.usel_head{
	display:block;
	 width:223px; height:36px;
background: url(../images/use_heaad_03.jpg) no-repeat left center;
	font-size:14px;
color:#FFF;
font-weight:600;
line-height:36px;
text-align:center;
	}
.usel_title{ margin-bottom:18px;}
.usel_title dl dd{border-bottom:1px solid #d6d8dd;text-align:center; }
.usel_title dl a{ line-height:30px; }
.usel_title dl a:hover{ color:#0071c5;}
.usel_title span{ color:#806659; padding-left:10px;}
.scrollL{
	width:20px;
	height:31px;
	background: url(../images/index_45.jpg) no-repeat left center;
	left:-40px;
	position:absolute;
	top:200px;
	}
.scrollR{
	width:20px;
	height:31px;
	background: url(../images/index_48.jpg) no-repeat left center;
	right:-40px;
	position:absolute;
	top:200px;
	}
.team{
	background:#503a2f;
	padding:63px 0 54px;
	}
.usel_tip{padding-bottom:10px;border-bottom:1px dashed #70584D;}
.usel_tip a{background: url(../images/lines_11.jpg) no-repeat left center; 
padding-left:10px; font-size:14px; 
display:block;
font-weight:600;

}
.usel_tip a{color:#e85532;}
.teamL{ width:310px;}
.teamL ul{ padding:19px 0 0 11px;}
.teamL li{ float:left; padding-left:10px;}
.teamR{ width:617px;}
.teamR ul{padding:19px 0 0 11px;}
.teamR ul dt{ float:left;}
.teamR ul dd{ margin-left:210px; color:#FFF;}
.teamR ul .new_tile a{ font-weight:600; color:#FFF; padding-bottom:6px;}
.teamR ul li{ padding-bottom:15px;}
.more{ color:#e85532;}
.contact,.about_me{ margin:0px auto 0px; position:relative;}
.about_me dl dt{ float:left;}
.about_me dl dd{ margin-left:350px;}
.about_me dl dd.simpl_about{ padding:15px 30px 6px 30px; background:#FFF; height:150px; text-indent:24px;}
.about_me dl dd.about_tip{ margin-left:430px;}
.about_me dl dt a {
    background: #FFF;
    border-radius: 6px;
    padding: 18px;
    display: block;
}
.about_me  dl a{ color:#503a2f;}
.about_tip a{ font-size:14px; font-weight:600; padding-bottom:10px; display:block;}
.about_tip a span{ display:block; display:block; font-size:18px; line-height:18px; color:#a7aeb1;}
.pos_ab{ position:absolute; right:20px; bottom:30px;}
.usle_btn{ 
display:block;background: url(../images/sumd_63.jpg) no-repeat left center; color:#fff; 
width:96px; height:28px; line-height:28px; text-align:center;
border-radius:3px;
}
.void{ height:32px; line-height:32px; overflow:hidden;}
.voidcont{ width:556px; position:relative;}
.voidcont dl{ position:absolute; right:1px; top:1px;}
.voidcont dd{ float:left; width:30px; height:30px; cursor:pointer;}
.void_dd1{background: url(../images/index_20.jpg) no-repeat left center;}
.void_dd2{background: url(../images/index_22.jpg) no-repeat left center; margin-left:1px;}
.voidcont ul{ height:32px;background: url(../images/index_28.jpg) no-repeat left center; padding-left:33px;}
.voidL{ float:left; width:54%; background:#c6cad2; height:32px;}
.voidR{ float:right;width:45.6%;background:#0071c5; height:32px;}
.contactL{}
.contactL table{ width:100%;}
.contactL table th{ text-align:right; padding:8px; color:#FFF;}
.contactL table td{ text-align:left; padding:8px;}
.contactL .texts{ border:none; padding:0 6px; height:24px; line-height:24px; width:340px;}
.footer{ background:#3d2b21; padding:4px;}

.link_dead{background:#e95532; color:#FFF;}
.link li{ float:left; width:119px; height:36px; line-height:36px; text-align:center;}
.link li a{ color:#3d2b21;}
.link{ background-color:#fff;}
.footer{ text-align:center; line-height:28px; background:#343434; color:#b4b4b4;}

.inner span{ text-indent:-9999px; border-radius:50%;}

.usel_title{
	border:1px solid transparent
	}
.produc_lstR{
	width:746px;
	}
.produc_lstR li{ float:left; margin:0 13px 13px 0;}
.produc_lstR a.product_name{
	 background:#FFF; border-radius:6px; padding:18px; display:block;
	box-shadow:2px 2px 3px #ebe6e0;
	}
.produc_lstR p{ padding-top:10px; text-align:center;}
.produc_lstR p a{ color:#503A2F; }
.produc_lst{ margin:52px auto 70px;}

.orang{ color:#e95532;}

.weizhi {
    height: 25px;
    padding-top: 8px;
	background: url(../images/wei_03.png) repeat-x left bottom;
	padding-bottom:9px;
	margin-bottom:50px;
}
.weizhi a {
    color: #806659;
}
.lstnews dd{ border-bottom:1px solid #E6E8EC; height:50px; line-height:50px;}
.town_nav_btn{
    text-align: center;
    padding: 25px 0;
    font-weight: 600;
}
.detail{ margin:20px; overflow:hidden;}
.detail p{ text-indent:24px; text-align:left; padding-top:15px;}
.detail img{ display:block; margin:0 auto;  max-width:100%;}
.product_tips{ text-align: center;}
.product_tips dd{ margin-left:10px;}
.product_tips dd a{
	color:#464646;
display:block;
width:115px; 
height:29px; 
line-height:29px; text-align:center;
background:#f6f6f6;
border:1px solid #d9d9d9;
font-size:14px;
}
.envir_cont li{ padding-right:25px; padding-bottom:25px; float:left;}
.envir_cont ul{ padding-left:18px; width:1040px; padding-top:25px;}
.envir_cont li a{ 
display:block;
 width:172px;
}
.envir_cont  dt{ text-align:center; line-height:30px; background:#b2b2b2; color:#FFF;}
.envir{ position:relative; margin-bottom:55px;}
.product_tips dd.produt_bgon a{background:#ff8900; color:#FFF; height:31px; line-height:31px; border:none;}
.hidden{ display:none;}

.allproduct{ overflow:hidden;}
.cursor{ cursor:pointer;}
.bg_blue{ background:#0071c5;}

.font_wei{ font-weight:600;}
.netsbox{ padding:16px; background:#FFF;}
.u_newlstcont h1{ padding:66px 0 36px;}
.u_newlstcont h1 a span{ display:block; font-size:18px; margin-bottom:-4px;}
.u_newlstcont a,.u_newlstcont img{ display:block; color:#676767;}
.u_newlstcont ul li a{ width:285px;}
.u_newlstcont ul .newlst{width:275px;
background: url(../images/main_19.jpg) no-repeat left center; padding-left:10px;
padding-bottom:4px; margin-bottom:4px; border-bottom:1px dashed #cecece;
}
.u_newlstcont ul{ width:1070px;}
.u_newlstcont ul li{ padding-right:24px; float:left;}
.u_newlstcont ul .u_time{ border-bottom:1px solid #47b1ff; margin-bottom:4px;}
.u_newlstcont ul dt{ padding:12px 0 4px; font-size:14px; font-weight:400;}
.u_newlst{ padding:45px 0 55px;}
.doble_nav{ margin:30px auto 40px;}
.u_newlstcont ul li a.color_orang{ color:#eb6c01;}
.color_orang{ color:#eb6c01;}
.netsbox_tipL{ font-size:16px;}
.netsbox_tipR{ font-size:14px; padding-top:6px;}
.netsbox_tip{ padding-bottom:4px; border-bottom:1px solid #e2e2e2; margin-bottom:25px;}
.doble_nav h1 { padding:0px 0 4px; border-bottom:1px solid #e2e2e2; margin-bottom:15px;}
.doble_nav h1 a{ display:block;}
.doble_nav h1 a span{ display:block; font-size:18px; margin-bottom:-4px;}
.doble_navL{background:#FFF;}
.doble_navR{ width:313px;  height:354px; float:right;border-top:9px solid #0071c5;background:#FFF;}
.indesnews2 li a{display:block;}
.indesnews2{ height:157PX; overflow:hidden;}
.indesnews2 li{ padding-right:20px;}
.doble_scroll{ position:relative;}
.doble_scroll .scrollL{
	left:4px;
	top:78px;
	background: url(../images/minL.jpg) no-repeat left center;
	}
.doble_scroll .scrollR{
	right:4px;
	top:78px;
	background: url(../images/minR.jpg) no-repeat left center;
	}
.doble_scroll dl dt{ text-align:center; padding-top:10px;}
.doble_navR ul{ padding:0 36px;}
.doble_navR li{
	 padding-left:48px; margin-bottom:13px; border:1px solid #e2e3e7;
	 background-color:#f8f9fb;
	 
}
.doble_navR li p{ border-left:1px solid #e2e3e7; padding:8px; min-height:36px;}
.doble_navR_adr{background: url(../images/index_66.jpg) no-repeat 13px center;}
.doble_navR_tel{background: url(../images/index_72.jpg) no-repeat 13px center;}
.doble_navR_tel p,.doble_navR_em p{ line-height:36px;}
.doble_navR_em{background: url(../images/index_76.jpg) no-repeat 13px center;}
.u_getbook{ background:#222729;}
.contactL dl{ padding-left:8px; color:#FFF;}
.contactL dl dt{ font-size:14px;}
.u_getbook .contact{ margin:0 auto;}
.u_getbook{ padding:58px 0 45px;}
.btm_nav{}
.btm_nav dt{ padding-bottom:33px; font-size:14px; color:#FFF; float:left;}
.btm_nav dd{ float:left; color:#9c9ea6; line-height:30px;background: url(../images/line_03.jpg) no-repeat left 9px; padding-left:10px;}
.btm_navlst dd{ float:left; margin-left:10px;}
.btm_navlst{padding-left: 156px; width:255px;}
.gotop{ width:67px; height:31px;background: url(../images/index_81.jpg) no-repeat center center; margin:0 auto; cursor: pointer;}
.produc_lstL .doble_navR{ width:223px; float:none; height:auto;}
.produc_lstL .doble_navR ul{ padding:10px;}
.position{ padding-left:15px; line-height:36px; background:#e6e8ec;}
.position a,.position span{ padding-right:6px; margin-bottom:10px;}
.produc_lstL{ width:223px;}
.produc_lstR .envir_cont li{ padding-right:0;    margin-top: 0px;}
.produc_lstR .allproduct{ height:auto;}
.produc_lstR .envir_cont{ padding-top:10px;}
.bgwhite{ background:#FFF;}
.padd33{ padding:10px 33px 33px;}
.detail img{ display:block; margin:10px auto; max-width:90%;}
.mu_search{ padding:10px 0;}
.mu_search form{ width:565px; background:#FFF; margin: 0 auto; border-radius:3px; -ms-border-radius:3px;-moz-border-radius:3px; -webkit-border-radius:3px;}
.mu_search .text{ background:none; border:none; padding:4px 8px; height:20px; line-height:20px; width:515px;}
.mu_search .btns{
	background: url(../images/btn_08.jpg) no-repeat center center;
 height:29px; width:27px;
 padding:none;
 border:none;
 cursor:pointer;
 }
 .mu_title{ margin:40px auto ;background: url(../images/main_06.jpg) repeat-x left center;}
.mu_title a{ 
width:203px; 
height:36px; line-height:36px; 
text-align:center; margin:0 auto; font-size:18px;
display:block;
background: url(../images/main_03.jpg) no-repeat center center;
color:#FFF;
}
.envir_cont{ background:#f6f6f6; border:1px solid #d9d9d9; margin-top:20px;}
.bg_gray{ background:#f0f0f0}
.text24{ text-indent:24px; padding:10px 0 20px;}
.btm_nav a{ color:#fff; font-size:14px;}
.btm_nav dd{ margin-left:10px;}
.contact{background: url(../images/bglog_03.jpg) no-repeat right center;}
.link_dead{background:#e95532; color:#FFF;}

.link li{ float:left; width:119px; height:36px; line-height:36px; text-align:center;}

.link li a{ color:#3d2b21;}

.link{ background-color:#fff; border:1px solid #d9d9d9; margin:30px auto 10px;}
.link li.link_dead{ border:1px solid #df6600; margin-top:-1px; background:#ff8000;}
.link li.link_dead a{ color:#FFF;}